.calculator-page {
    
    .container {
        margin: 0 auto;
        padding: 0;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 20px rgb(170, 170, 170);
    }

    .step1 {

    }

    .step-header {
        background-color: rgb(161, 204, 62);
        display: flex;
        justify-content: center;
    }

    .step-header h2 {
        margin: 5px;
    }
    
    .step-content {
        padding: 30px;
    }

    .content-container {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .hidden {
        display: none;
    }
}